<%
    var details = JSON.parse($user.details)
%>
<% include blocks/header %>
<script>var $user = <%- JSON.stringify($user) %>;</script>
<script>var lang = <%- JSON.stringify(lang) %>;</script>
<script>var positions = <%- JSON.stringify(positions) %>;
</script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=RXfpwKtT9pqZFeP3VlnSDfAbkVFDQnsw"></script>
<link rel="stylesheet" href="libs/css/baidumap.css">
<link rel="stylesheet" href="libs/css/roboto.css" type="text/css" />
<link rel="stylesheet" href="libs/css/material-design-iconic-font.min.css" type="text/css" />
<link rel="stylesheet" href="libs/css/pnotify.custom.min.css">
<link rel="stylesheet" href="libs/css/vbox.css">
<link rel="stylesheet" href="libs/css/daterangepicker.css">
<link rel="stylesheet" href="libs/css/circles.css">
<link rel="stylesheet" href="libs/css/bootstrap.min.css">
<link rel="stylesheet" href="libs/css/font-awesome.min.css">
<link rel="stylesheet" href="libs/css/fullcalendar.min.css">
<link rel="stylesheet" href="libs/css/gridstack.min.css">
<link rel="stylesheet" href="libs/css/gridstack-extra.min.css">
<link rel="stylesheet" href="libs/css/bootstrap-table.min.css">
<link rel="stylesheet" href="../libs/css/baidumap.css">

<!-- <link rel="stylesheet" href="libs/css/dash2.basic.css">
<link rel="stylesheet" href="libs/css/dash2.forms.css">
<link rel="stylesheet" href="libs/css/dash2.modal.css">
<link rel="stylesheet" href="libs/css/dash2.monitors.css">
<link rel="stylesheet" href="libs/css/dash2.powervideo.css">
<link rel="stylesheet" href="libs/css/dash2.ptzcontrols.css">
<link rel="stylesheet" href="libs/css/dash2.regioneditor.css">
<link rel="stylesheet" href="libs/css/dash2.rightotleft.css">
<link rel="stylesheet" href="libs/css/dash2.timelapse.css">
<link rel="stylesheet" href="libs/css/main.dash2.css"> -->
<link rel="stylesheet" href="libs/css/main.dash2.old.css">
<% customAutoLoad.LibsCss.forEach(function(lib){ %>
    <link rel="stylesheet" href="libs/css/<%-lib%>">
<% }) %>
<style id="theme">
<% if(details.theme&&details.theme!==''){ %><%- include(__dirname+'/web/libs/themes/'+details.theme+'/style.css'); %><% } %>
</style>
<style id="custom_css">
<%= details.css %>
</style>
<style>
<% if(details.video_delete&&details.video_delete!==''){
    details.video_delete.forEach(function(v,n){ %>
        [mid="<%= v %>"] .permission_video_delete{display:inline-block}
<%
    })
}else{ %>
    th.permission_video_delete,td.permission_video_delete{display:table-cell}
<% } %>
</style>
<html lang="en">
  <body>
    <div class="demo-layout demo-blog mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header id="main_header" class="demo-header mdl-layout__header">
        <div class="mdl-layout__header-row">
        <ul class="nav navbar-nav">
            <li title="<%-lang['Toggle Sidebar']%>" class_toggle="hide-side" data-target=".mdl-js-layout"><a>&nbsp;<i class="fa fa-bars"></i>&nbsp;</a></li>
            <li title="<%-lang['Add Monitor']%>" mid="" ke="" class="hidden-xs permission_monitor_create"><a monitor="edit">&nbsp;<i class="fa fa-plus"></i>&nbsp;</a></li>
            <li title="<%-lang['Power Video Viewer']%>" class="hidden-xs" mid="" ke=""><a monitor="powerview">&nbsp;<i class="fa fa-map-marker"></i>&nbsp;</a></li>
            <li>
                <a title="<%-lang['Monitor Groups']%>" id="group_list_button" class="mdl-js-button">&nbsp;<i class="fa fa-video-camera"></i>&nbsp;</a>
                <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="group_list_button" id="group_list"></ul>
            </li>
            <li class="os_bars hidden-xs">
                <div class="display-table">
                    <div class="cpu_load display-table-cell">
                        <span class="pull-right percent"></span>
                        <label><span class="os_cpuCount"></span> <%-lang.CPU%><span class="os_cpuCount_trailer"></span> <%-lang.on%> <span class="os_platform" style="text-transform:capitalize"></span></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
                      </div>
                    </div>
                    <div class="ram_load display-table-cell">
                        <span class="pull-right percent"></span>
                       <label><span class="os_totalmem" style="letter-spacing:2px;font-weight:100"></span> <%-lang.MB%> <%-lang.RAM%></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
                      </div>
                    </div>
                    <div class="diskUsed display-table-cell">
                        <span class="pull-right percent"></span>
                       <label><span class="value" style="letter-spacing:2px;font-weight:100"></span></label>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" style="width:0%"></div>
                      </div>
                    </div>
                </div>
            </li>
        </ul>
          <div class="mdl-layout-spacer"></div>
            <ul class="nav navbar-nav navbar-right">
                <li role="presentation" class="dropdown">
                <div id="clock" class_toggle="twentyfour" data-target="#time-hours">
                    <div id="time-date"></div>
                    <ul>
                        <li id="time-hours"></li>
                        <li class="point">:</li>
                        <li id="time-min"></li>
                        <li class="point">:</li>
                        <li id="time-sec"></li>
                    </ul>
                </div>
                </li>
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="true">&nbsp;<i class="fa fa-group"></i>&nbsp;</a>
                  <ul id="users_online" class="dropdown-menu list-unstyled msg_list scrollable" role="menu"></ul>
                </li>
<!--
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="true">&nbsp;<i class="fa fa-info-circle"></i>&nbsp;</a>
                  <ul id="notifications" class="dropdown-menu list-unstyled msg_list scrollable" role="menu"></ul>
                </li>
-->
                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="true">&nbsp;<i class="fa fa-exclamation-triangle"></i>&nbsp;</a>
                  <ul id="logs" class="dropdown-menu list-unstyled msg_list scrollable" role="menu">
                  </ul>
                </li>
              </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer">
        <header class="demo-drawer-header">
          <div class="demo-avatar-dropdown">
            <button id="accbtn" style="color:#fff" class="mdl-button mdl-js-button mdl-js-ripple-effect"><i class="fa fa-caret-down"></i> &nbsp;<span class="usermail"></span></button>
            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                <li class="mdl-menu__item" data-toggle="modal" data-target="#multi_mon"><div><i class="fa fa-clone"></i><div><%- lang['Monitors'] %></div></div></li>
                <li class="mdl-menu__item" mid="" ke=""><div class="flex" monitor="powerview"><i class="fa fa-map-marker"></i><div><%- lang['Power Viewer'] %></div></div></li>
                <li class="mdl-menu__item" mid="" ke=""><div class="flex" monitor="timelapse"><i class="fa fa-angle-double-right"></i><div><%- lang['Time-lapse'] %></div></div></li>
                <li class="mdl-menu__item permission_user_change" data-toggle="modal" data-target="#settings"><div><i class="fa fa-gears"></i><div><%- lang.Settings %></div></div></li>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#apis"><div><i class="fa fa-code"></i><div><%- lang.API %></div></div></li>
                <% if(!details.sub){ %>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#onvif_probe"><div><i class="fa fa-rss"></i><div><%- lang.ONVIF %></div></div></li>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#probe"><div><i class="fa fa-search"></i><div><%- lang.FFprobe %></div></div></li>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#monitorStates"><div><i class="fa fa-align-right"></i><div><%- lang['Monitor States'] %></div></div></li>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#schedules"><div><i class="fa fa-clock-o"></i><div><%- lang['Schedules'] %></div></div></li>
                <li class="mdl-menu__item" data-toggle="modal" data-target="#filters"><div><i class="fa fa-filter"></i><div><%- lang.Filters %></div></div></li>
                <% } %>
                <li class="mdl-menu__item permission_view_logs" data-toggle="modal" data-target="#logs_modal"><div><i class="fa fa-exclamation-triangle"></i><div><%- lang.Logs %></div></div></li>
                <li class="mdl-menu__item" class_toggle="list-blocks" data-target="#left_menu"><div><i class="fa fa-camera"></i><div><%- lang['List Toggle'] %></div></div></li>
                <li class="mdl-menu__item" class_toggle="hide-side" data-target=".mdl-js-layout"><div><i class="fa fa-bars"></i><div><%- lang['Hide List'] %></div></div></li>
                <li class="mdl-menu__item shinobi-detector-motion shinobi-detector-opencv shinobi-detector_plug" class_toggle="hide_indifference" data-target="body" style="display:none"><div><i class="fa fa-bolt"></i><div><%- lang['Motion GUI'] %></div></div></li>
                <li class="mdl-menu__item" system="jpegToggle"><div><i class="fa fa-file-image-o"></i><div><%- lang['JPEG Mode'] %></div></div></li>
                <li class="mdl-menu__item" system="switch" switch="monitorMuteAudio" type="text"><div><i class="fa fa-volume-down"></i><div><%- lang['Mute Audio'] %></div></div></li>
                <li class="mdl-menu__item" system="switch" switch="monitorOrder" type="text"><div><i class="fa fa-sort"></i><div><%- lang['Order Streams'] %></div></div></li>
                <li class="mdl-menu__item" system="switch" switch="notifyHide" type="text"><div><i class="fa fa-exclamation-circle"></i><div><%- lang['Hide Notes'] %></div></div></li>
                <li class="mdl-menu__item logout"><div><i class="fa fa-sign-out"></i><div><%- lang.Logout %></div></div></li>
            </ul>
            <div class="mdl-layout-spacer"></div>
            <button class_toggle="list-blocks" data-target="#left_menu" class="mdl-button mdl-button--icon">
              <i class="fa fa-camera"></i>
            </button>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation side-menu" id="left_menu">
            <div class="form-group col-md-12">
                <input class="form-control dark" placeholder="Search Monitors" id="monitors_list_search">
            </div>
            <div id="monitors_list" class="display-table"></div>
            <div class="mdl-layout-spacer"></div>
        </nav>
      </div>
      <main class="mdl-layout__content selected" id="main_canvas">
        
        <div class="row">
          <div class=" col-md-4">
              <div class="grid-stack" id="monitors_live"></div>

          </div>
          <div class="col-md-4">
            <div id="all">
              <div id="mp"></div>
              <div id="searchblock">
                  <div id="r-result"><input type="text" name="" id="search" placeholder="搜索地点"> </div>
                  <div id="searchlist"></div>
              </div>     
            </div>
          </div>
          <div class="col-md-4"></div>
        </div>
          <!-- <div class="grid-stack" id="monitors_live"></div> -->
          <!-- <div id="mp" style="position: relative;left: 70%;top: 0; height: 100%;overflow: hidden;margin: 0;"></div> -->
      </main>
    </div>
  </body>
</html>
<!---->
<div class="hidden" id="temp"></div>
<% include blocks/multimon.ejs %>
<% include blocks/api.ejs %>
<% include blocks/logs.ejs %>
<% include blocks/settings.ejs %>
<% include blocks/filters.ejs %>
<% include blocks/powervideo.ejs %>
<% include blocks/timelapse.ejs %>
<% include blocks/videoview.ejs %>
<% include blocks/monitoredit.ejs %>
<% include blocks/probe.ejs %>
<% include blocks/region.ejs %>
<% include blocks/detectorfilters.ejs %>
<% include blocks/monitorStates.ejs %>
<% include blocks/schedules.ejs %>
<% include blocks/confirm.ejs %>
<% customAutoLoad.PageBlocks.forEach(function(block){ %>
    <%- include(block) %>
<% }) %>
<% if(config.DropboxAppKey){ %>
<!--Dropbox Library, Change data-app-key to your app key. -->
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="<%= config.DropboxAppKey %>"></script>
<!--Dropbox End-->
<% } %>
<script src="libs/js/baidumap.js"></script>
<script src="libs/js/material.min.js"></script>
<script src="libs/js/pnotify.custom.min.js"></script>
<script><% include ../libs/js/moment.js %></script>
<script><% include ../libs/js/livestamp.min.js %></script>
<script src="libs/js/placeholder.js"></script>
<script src="libs/js/bootstrap.min.js"></script>
<script src="libs/js/bootstrap-table.min.js"></script>
<script src="libs/js/socket.io.js"></script>
<script src="libs/js/fullcalendar.min.js"></script>
<script src="libs/js/hls.min.js"></script>
<script src="libs/js/libde265.min.js"></script>
<script type="text/javascript" src="libs/js/flv.shinobi.js">;</script>
<script src="libs/js/menu.js"></script>
<script src="libs/js/clock.js"></script>
<script src="libs/js/poseidon.js"></script>
<script src="libs/js/Chart.js"></script>
<script src="libs/js/clusterPoints.js"></script>
<script src="libs/js/daterangepicker.js"></script>
<script src="libs/js/jquery.canvasAreaDraw.js"></script>
<script src="libs/js/jquery-ui.min.js"></script>

<!-- <script src="libs/js/jquery.min.js"></script> -->
<script src="libs/js/lodash.min.js"></script>
<script src="libs/js/gridstack.min.js"></script>
<script src="libs/js/gridstack.jQueryUI.min.js"></script>
<script src="libs/js/basic.js"></script>
<script><% include ../libs/js/dash2.config.js %></script>
<script src="libs/js/dash2.basic.js"></script>
<script src="libs/js/dash2.confirm.js"></script>
<script src="libs/js/dash2.socketio.js"></script>
<script src="libs/js/dash2.gridstack.js"></script>
<script src="libs/js/dash2.elements.js"></script>
<script src="libs/js/dash2.elementbuilder.js"></script>
<script src="libs/js/dash2.init.js"></script>
<% customAutoLoad.LibsJs.forEach(function(lib){ %>
    <script src="libs/js/<%-lib%>"></script>
<% }) %>
<% include blocks/help.ejs %>
{"mode":"start","mid":"UxyrS3x6Vl","name":"Some Stream","type":"h264","host":"192.168.1.108","port":"8080","path":"/","position":"120.438537,30.301587","ext":"mp4","fps":"1","width":"640","height":"480","details":"{\"max_keep_days\":\"\",\"notes\":\"\",\"dir\":\"\",\"rtmp_key\":\"\",\"auto_host_enable\":\"1\",\"auto_host\":\"\",\"rtsp_transport\":\"tcp\",\"muser\":\"\",\"mpass\":\"\",\"port_force\":\"0\",\"fatal_max\":\"0\",\"skip_ping\":null,\"is_onvif\":null,\"onvif_port\":\"\",\"primary_input\":null,\"aduration\":\"1000000\",\"probesize\":\"1000000\",\"stream_loop\":\"0\",\"sfps\":\"\",\"accelerator\":\"0\",\"hwaccel\":\"auto\",\"hwaccel_vcodec\":\"\",\"hwaccel_device\":\"\",\"use_coprocessor\":null,\"stream_type\":\"mp4\",\"stream_flv_type\":\"ws\",\"stream_flv_maxLatency\":\"\",\"stream_mjpeg_clients\":\"\",\"stream_vcodec\":\"copy\",\"stream_acodec\":\"no\",\"hls_time\":\"2\",\"hls_list_size\":\"3\",\"preset_stream\":\"ultrafast\",\"signal_check\":\"10\",\"signal_check_log\":\"0\",\"stream_quality\":\"15\",\"stream_fps\":\"2\",\"stream_scale_x\":\"\",\"stream_scale_y\":\"\",\"rotate_stream\":\"no\",\"svf\":\"\",\"tv_channel\":\"0\",\"tv_channel_id\":\"\",\"tv_channel_group_title\":\"\",\"stream_timestamp\":\"0\",\"stream_timestamp_font\":\"\",\"stream_timestamp_font_size\":\"\",\"stream_timestamp_color\":\"\",\"stream_timestamp_box_color\":\"\",\"stream_timestamp_x\":\"\",\"stream_timestamp_y\":\"\",\"stream_watermark\":\"0\",\"stream_watermark_location\":\"\",\"stream_watermark_position\":\"tr\",\"snap\":\"0\",\"snap_fps\":\"\",\"snap_scale_x\":\"\",\"snap_scale_y\":\"\",\"snap_vf\":\"\",\"vcodec\":\"copy\",\"crf\":\"1\",\"preset_record\":\"\",\"acodec\":\"no\",\"dqf\":\"0\",\"cutoff\":\"15\",\"rotate_record\":\"no\",\"vf\":\"\",\"timestamp\":\"0\",\"timestamp_font\":\"\",\"timestamp_font_size\":\"10\",\"timestamp_color\":\"white\",\"timestamp_box_color\":\"0x00000000@1\",\"timestamp_x\":\"(w-tw)/2\",\"timestamp_y\":\"0\",\"watermark\":\"0\",\"watermark_location\":\"\",\"watermark_position\":\"tr\",\"cust_input\":\"\",\"cust_snap\":\"\",\"cust_rtmp\":\"\",\"cust_rawh264\":\"\",\"cust_detect\":\"\",\"cust_stream\":\"\",\"cust_stream_server\":\"\",\"cust_record\":\"\",\"cust_sip_record\":\"\",\"custom_output\":\"\",\"detector\":\"0\",\"detector_send_frames\":\"1\",\"detector_lock_timeout\":\"\",\"detector_save\":\"0\",\"detector_fps\":\"\",\"detector_scale_x\":\"640\",\"detector_scale_y\":\"480\",\"detector_record_method\":\"sip\",\"detector_trigger\":\"1\",\"detector_trigger_record_fps\":\"\",\"detector_timeout\":\"10\",\"detector_send_video_length\":\"\",\"watchdog_reset\":\"0\",\"detector_delete_motionless_videos\":\"0\",\"detector_multi_trigger\":null,\"group_detector_multi\":\"\",\"detector_webhook\":\"0\",\"detector_webhook_url\":\"\",\"detector_command_enable\":\"0\",\"detector_command\":\"\",\"detector_command_timeout\":\"\",\"detector_mail\":\"0\",\"detector_mail_send_video\":null,\"detector_mail_timeout\":\"\",\"detector_discordbot\":null,\"detector_discordbot_send_video\":null,\"detector_discordbot_timeout\":\"\",\"use_detector_filters\":null,\"use_detector_filters_object\":null,\"cords\":\"[]\",\"detector_filters\":\"\",\"detector_pam\":\"1\",\"detector_sensitivity\":\"\",\"detector_max_sensitivity\":\"\",\"detector_threshold\":\"1\",\"detector_color_threshold\":\"\",\"detector_frame\":\"0\",\"detector_noise_filter\":null,\"detector_noise_filter_range\":\"\",\"detector_notrigger\":\"0\",\"detector_notrigger_mail\":\"0\",\"detector_notrigger_timeout\":\"\",\"detector_audio\":null,\"detector_audio_min_db\":\"\",\"detector_audio_max_db\":\"\",\"detector_use_detect_object\":\"0\",\"detector_send_frames_object\":null,\"detector_obj_region\":null,\"detector_use_motion\":\"1\",\"detector_fps_object\":\"\",\"detector_scale_x_object\":\"\",\"detector_scale_y_object\":\"\",\"detector_lisence_plate\":\"0\",\"detector_lisence_plate_country\":\"us\",\"detector_buffer_vcodec\":\"auto\",\"detector_buffer_acodec\":null,\"detector_buffer_fps\":\"\",\"detector_buffer_hls_time\":\"\",\"detector_buffer_hls_list_size\":\"\",\"detector_buffer_start_number\":\"\",\"detector_buffer_live_start_index\":\"\",\"control\":\"0\",\"control_base_url\":\"\",\"control_url_method\":null,\"control_digest_auth\":null,\"control_stop\":\"0\",\"control_url_stop_timeout\":\"\",\"control_url_center\":\"\",\"control_url_left\":\"\",\"control_url_left_stop\":\"\",\"control_url_right\":\"\",\"control_url_right_stop\":\"\",\"control_url_up\":\"\",\"control_url_up_stop\":\"\",\"control_url_down\":\"\",\"control_url_down_stop\":\"\",\"control_url_enable_nv\":\"\",\"control_url_disable_nv\":\"\",\"control_url_zoom_out\":\"\",\"control_url_zoom_out_stop\":\"\",\"control_url_zoom_in\":\"\",\"control_url_zoom_in_stop\":\"\",\"groups\":\"[]\",\"loglevel\":\"warning\",\"sqllog\":\"0\",\"detector_cascades\":\"\",\"stream_channels\":\"\",\"input_maps\":\"\",\"input_map_choices\":\"\"}","shto":"[]","shfr":"[]"}
